.multiselect {
	flex: 1;
	min-height: auto !important;
	display: flex;
	align-items: center;
	padding: 0 !important;
	width: calc(100% - 2px) !important;
}
.multiselect .multiselect__select {
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	position: static;
	order: 2;
	width: 30px;
}
.multiselect .multiselect__select::before {
	position: static;
	top: unset;
	right: unset;
	margin-top: 0;
}
.multiselect .multiselect__input {
	font-size: 1em;
}
.multiselect .multiselect__input .multiselect__single {
	font-size: 1em;
}
.multiselect .multiselect__tags {
	flex: 1;
	min-height: auto;
	border: none;
	height: calc(2rem + 2px);
	padding: 0.2rem 0 2rem 0.5rem;
}
.multiselect .multiselect__tags .multiselect__input {
	font-size: 1em;
	padding-left: 0 !important;
}
.multiselect .multiselect__content-wrapper .multiselect__option {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 0;
	padding: 0.5rem;
}
.multiselect .multiselect__content-wrapper .multiselect__option:after {
	position: static;
	line-height: 100%;
	font-size: 0.8em;
}
