@import "common";
@import "bootstrap-body-styles";
@import "bootstrap-overrides";
@import "complete-reset";
@import "vue-modal-overrides";
@import "vue-multiselect-overrides";

.bootstrap-body {
		height: 100%;
	
	& > div {
		height: 100%;
		
		.page-overlay {
			height: 100%;
		}
	}
}
