@import "./chrome-overrides";
@import "./bootstrap-overrides";
@import "./vue-multiselect-overrides";
@import "./line-awesome-overrides";

body {
	width: 575px;
	height: 600px;
}

.btn.btn-icon {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: .75rem;
}
